


#searchContainer
{
    display: flex;

    gap: 10px;
    justify-content: center;
    align-items: center;
    /* margin-top: 50px; */
    /* min-height: fit-content; */
    
}
.bdy
{
    display: flex;
    align-items: center;
    justify-content: center;
}
#searchContainer .inputWrapper {
    position: relative;

    min-height: 40px;
} 


#inp
{
    background-color: #fff;
    width: 350px;
    min-height: 40px;
outline: none;
border: none;
border-radius: 12px;

padding: 0 5px;

font-size: larger;
}

#logo
{

    position: absolute;
    right: 0;
    top: 0;
    
    width: 30px;
    height: 100%;
 
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}






@media(max-width: 1500px) {
    #searchContainer
    {
       
        
        left:  300px;
        width: 300px;
       
    
       
        
    }
}

@media(max-width: 450px) {
    #searchContainer
{
   
    
    left:  15px;
    width: 250px;
 
    
}
#inp
{
    width: 200px;
    
padding-left: 5px;
padding-right: 10px;
margin-left: 5px;
font-size: larger;
}
}
@media(min-width: 1500px) {

    #searchContainer
{
    left:  600px;
    height: 30px; 
    
}
#logo
{
    width: 40px;
    height: 40px;
    padding-left: 5px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2px;
    
    
}
}
@media(max-width: 500px)
{
    .bdy
    {min-width: 70vb;}
}


